.jumbotron, .row{
	text-align: center;
}
.logo{
	width: 160px;
}
.btn{
	background-color: green;
	color: white;
}
.jumbotron{
	background-color: white;
}
body{
	margin-top: 20px;
	margin-right: 0px;
}
.top{
	text-decoration: underline;
}
.row{
	margin-top: 40px;
}
.name{
	font-family: "Brush Script MT", cursive;
	font-size: 40px;
}
form{
	margin-top: 20px;
}
.selfie{
	margin-top: 20px;
.info{

}